.snapContainer {
  height: 100vh;
  overflow-y: auto;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.snapContainer::-webkit-scrollbar {
  width: 6px;
}

.normalContainer {
  height: 100vh;
  overflow-y: auto;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.normalContainer::-webkit-scrollbar {
  width: 6px;
}
